table{
    border: solid 1px black;
}

table td {
    border: solid 1px black;
    width: 150px;
    text-align: center;
}

thead {
    background-color:#FA6501 ;
    color: whitesmoke;
}

table button:hover{
    opacity: 50%;
}

.botaoLaranja{
    width: 100%;
}

.labelFomr{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.labelForm input {
    width: 50%;
}