#divEnderecos{
    width: 100%;
}

.formularioEnderecos{
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: rgb(220, 220, 220);
    border: 1px solid grey;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

